/* @override 
	http://davidfwall.com/css/app.css */


body {
	background: #fff;
	color: #111;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
font-family:  -apple-system, BlinkMacSystemFont, 'Univers', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 11.5px;
	line-height: 20px;
	font-weight: 500;
	display: inline;
}

strong, h1 {
	font-weight: 700;
}
	em {
	font-style: italic;
}
ul {
	padding-bottom: 2em;
}
	a, a:hover, a:focus {
			color: #464646;

		text-decoration: none;
		border-bottom: 1px solid #a0a0a0;
	}
	a:hover, a:focus {

		border-bottom: 1px solid #3a3a3a;
	}
	
p {
	padding-bottom: 1em;
	width: 95%;
}





.clearfix:before,
.clearfix:after {
   content: '\0020';
   display: block;
   overflow: hidden;
   visibility: hidden;
   width: 0;
   height: 0;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.inline-slash li {
	display: inline;
}
.inline-slash li::after {
   content: ' / ';
}
.inline-slash li:last-child::after {
   content: '';
}
@media (max-width: 567px) {
body {
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
	display: inline;
}
}
li {
	width: 95%;


}

@font-face{
    font-family:"Univers";
    src:
         url('../font/Univers55.woff2') format('woff2'),
         url('../font/Univers55.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family:"Univers";
    src:
         url('../font/Univers65.woff2') format('woff2'),
         url('../font/Univers65.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
